RewriteEngine On

# Permitir acesso direto a arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar para index.php
RewriteRule ^ index.php [QSA,L]

